#ignore logs
/Server/data/logs/
Server/data/logs/
*.log
#ignore eclipse data
.metadata
.recommenders
#ignore users
/Server/data/users/
Server/data/users/
*.user
#ignore class files
*.class
#ignore those awful Mac files
._.DS_Store
.DS_Store